@import "~styles/variables.scss";

.container {
  padding: 0 20px 48px 45px;

  .description {
    margin-left: 30px;
    font-family: GrotesqueBold;

    .title {
      font-size: 42px;
      line-height: 48px;
      margin-bottom: 34px;
    }

    .small-title {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 12px;
    }

    .text {
      font-family: Grotesque;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 28px;
    }
  }

  @media (max-width: $screen-xs-min) {
    padding: 24px 20px;

    .description {
      margin: 0;

      .title {
        font-size: 21px;
        line-height: 28px;
        margin-bottom: 26px;
      }

      .small-title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
      }

      .text {
        font-family: Grotesque;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 36px;
      }
    }
  }

  .form {
    background-color: #F5F7FA;
  }
}
