@import "~styles/variables.scss";

.popup {
  z-index: 5;

  .overlay {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(18, 20, 24, 0.9);
    backdrop-filter: blur(13.5914px);

    .panel {
      min-height: 250px;
      max-height: 832px;
      width: 588px;
      background-color: $white;
      position: relative;

      .close {
        cursor: pointer;
        position: absolute;
        top: 50px;
        right: 50px;

        @media (max-width: $screen-xs-min) {
          top: 24px;
          right: 20px;

          img {
            height: 20px;
            width: 20px;
          }
        }
      }

      @media (max-width: $screen-xs-min) {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
  }
}
