@import "~styles/transitions.scss";
@import "~styles/variables.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slider-section {
  box-sizing: border-box;
  height: 780px;
  width: 100%;
  display: flex;
  justify-content: stretch;

  @media (max-width: $screen-lg-min) {
    height: 660px;
  }

  @media (max-width: $screen-sm-min) {
    height: 860px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  @media (max-width: $screen-xs-min) {
    height: 952px;
  }

  .description {
    box-sizing: border-box;
    height: 780px;
    width: 57%;
    background-color: $app-theme-color;
    padding: 124px 108px 160px 180px;

    color: $white;
    font-size: 20px;
    line-height: 28px;
    font-family: Grotesque;

    @media (max-width: $screen-lg-min) {
      height: 660px;
      padding: 116px 94px 125px 150px;

      font-size: 17px;
      line-height: 24px;
    }

    @media (max-width: $screen-md-min) {
      height: 660px;
      padding: 116px 76px 146px 126px;

      font-size: 16px;
    }

    @media (max-width: $screen-sm-min) {
      height: 360px;
      width: 100%;
      padding: 78px 40px 90px 40px;

      font-size: 15px;

      display: flex;
      justify-content: space-between;
    }

    @media (max-width: $screen-xs-min) {
      height: 532px;
      width: 100%;
      padding: 50px 20px 54px 20px;

      font-size: 14px;

      display: flex;
      flex-direction: column;
    }

    .introduction {
      margin-bottom: 32px;

      @media (max-width: $screen-lg-min) {
        margin-bottom: 22px;
      }

      @media (max-width: $screen-md-min) {
        margin-bottom: 20px;
      }

      @media (max-width: $screen-sm-min) {
        height: 72px;
        width: 336px;
        margin-right: 20px;
      }

      @media (max-width: $screen-xs-min) {
        width: 280px;
        margin-bottom: 22px;
      }
    }

    .advantages {
      line-height: 44px;
      margin-bottom: 28px;

      .plus {
        font-family: GrotesqueBold;
        cursor: pointer;

        a {
          color: $white;
          text-decoration: none;
        }

        &:hover {
          color: $text-hover-color;
        }
      }

      @media (max-width: $screen-lg-min) {
        line-height: 36px;
        margin-bottom: 24px;
      }

      @media (max-width: $screen-md-min) {
        line-height: 32px;
      }

      @media (max-width: $screen-sm-min) {
        margin-bottom: 0;
        width: 336px;
        height: 96px;
      }

      @media (max-width: $screen-xs-min) {
        font-size: 16px;
        width: 280px;
        margin-bottom: 22px;
      }
    }

    .conclusion {
      height: 220px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: $screen-lg-min) {
        height: 190px;
      }

      @media (max-width: $screen-md-min) {
        height: 186px;
      }

      @media (max-width: $screen-sm-min) {
        height: 192px;
        width: 336px;
      }

      @media (max-width: $screen-xs-min) {
        height: 216px;
        width: 280px;
      }
    }
  }

  .slider {
    box-sizing: border-box;
    height: 100%;
    width: 43%;
    flex-grow: 1;
    position: relative;
    left: -1px;
    right: -1px;

    @media (max-width: $screen-sm-min) {
      height: 500px;
      width: 100%;
    }

    @media (max-width: $screen-xs-min) {
      height: 420px;
    }

    .control-panel {
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      display: flex;
      justify-content: space-between;

      .info {
        font-family: GrotesqueLight;
        font-size: 16px;
        line-height: 20px;
        background-color: $white;
      }

      .square {
        height: 100px;
        width: 100px;

        @media (max-width: $screen-md-min) {
          height: 80px;
          width: 80px;
        }

        @media (max-width: $screen-sm-min) {
          height: 60px;
          width: 60px;
        }
      }

      .controls {
        cursor: pointer;
        background-color: $app-theme-color;
        display: flex;

        > .square {
          @include app-transition;

          &:hover,
          &.active {
            background-color: $element-hover-color;
          }
        }
      }
    }

    .slider-wrapper {
      height: 780px;
      width: 620px;

      @media (max-width: $screen-lg-min) {
        width: 520px;
        height: 660px;
      }

      @media (max-width: $screen-md-min) {
        width: 430px;
      }

      @media (max-width: $screen-sm-min) {
        height: 500px;
        width: 100%;
      }

      @media (max-width: $screen-xs-min) {
        height: 420px;
        width: 100%;
      }
      .slide {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
      }
    }
  }
}
