// colors
$app-theme-color: #121418;
$element-hover-color: #314B7F;
$sidebar-item-hover: #BCD2FF;
$text-hover-color: #4E89FF;
$location-color: #9B9B9B;
$jobs-section-hr-color: #E2E2E2;
$white: #FFFFFF;
$border: #EDEDED;

// points
$screen-mobile-min: 320px;
$screen-xs-min: 768px;
$screen-sm-min: 990px;
$screen-md-min: 1200px;
$screen-lg-min: 1440px;
