@import "~styles/variables.scss";

.about-us {
  box-sizing: border-box;
  min-height: 780px;
  max-height: 900px;
  width: 100%;
  padding: 204px 180px 204px 180px;
  letter-spacing: 0;

  @media (max-width: $screen-lg-min) {
    min-height: 660px;
    padding: 174px 150px 180px 150px;
  }

  @media (max-width: $screen-md-min) {
    padding: 154px 150px 168px 126px;
  }

  @media (max-width: $screen-sm-min) {
    padding: 98px 40px 110px 40px;
  }

  @media (max-width: $screen-xs-min) {
    padding: 50px 20px 28px 20px;
    min-height: 560px;
  }

  .title {
    font-family: GrotesqueBold;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 34px;
    margin-bottom: 110px;
    text-align: center;

    @media (max-width: $screen-lg-min) {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 100px;
    }

    @media (max-width: $screen-md-min) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 84px;
    }
    @media (max-width: $screen-sm-min) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
      text-align: left;
    }

    @media (max-width: $screen-xs-min) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
      text-align: left;
    }
  }

  .description {
    height: 380px;
    width: 748px;
    font-family: Grotesque;
    line-height: 28px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    

    @media (max-width: $screen-lg-min) {
      height: 240px;
      width: 620px;
      font-size: 17px;
    }

    @media (max-width: $screen-md-min) {
      height: 288px;
      width: 512px;
      font-size: 16px;
      line-height: 24px;
    }

    @media (max-width: $screen-sm-min) {
      height: 240px;
      width: 572px;
      font-size: 15px;
      line-height: 24px;
    }

    @media (max-width: $screen-xs-min) {
      height: 408px;
      width: 280px;
      font-size: 14px;
      line-height: 24px;
    }
  }
}
